{% extends 'core/base.html' %}
{% load static %}
{% block title %}Service{% endblock title %}
{% block main %}

<div class="row section">
    <div class="sectionTitleContainer">
        <h2 class="sectionTitle">Ecommerce Website</h2>
    </div>
    <div class="col-12">
        <div class="swiper-container pricingContainer">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="title">Basic</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$50.00 / ৳4000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li class="disable">Maintenance</li>
                            <li class="disable">15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="pricingTable red">
                        <div class="pricingTable-header">
                            <h3 class="title">Standard</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$500.00 / ৳40000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li>Maintenance</li>
                            <li class="disable">15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="pricingTable blue">
                        <div class="pricingTable-header">
                            <h3 class="title">Pro</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$5000.00 / ৳400000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li>Maintenance</li>
                            <li>15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<div class="row section">
    <div class="sectionTitleContainer">
        <h2 class="sectionTitle">Newspaper Website</h2>
    </div>
    <div class="col-12">
        <div class="swiper-container pricingContainer">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="title">Basic</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$50.00 / ৳4000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li class="disable">Maintenance</li>
                            <li class="disable">15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="pricingTable red">
                        <div class="pricingTable-header">
                            <h3 class="title">Standard</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$500.00 / ৳40000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li>Maintenance</li>
                            <li class="disable">15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="pricingTable blue">
                        <div class="pricingTable-header">
                            <h3 class="title">Pro</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$5000.00 / ৳400000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li>Maintenance</li>
                            <li>15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<div class="row section">
    <div class="sectionTitleContainer">
        <h2 class="sectionTitle">Others Website</h2>
    </div>
    <div class="col-12">
        <div class="swiper-container pricingContainer">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="title">Basic</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$50.00 / ৳4000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li class="disable">Maintenance</li>
                            <li class="disable">15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="pricingTable red">
                        <div class="pricingTable-header">
                            <h3 class="title">Standard</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$500.00 / ৳40000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li>Maintenance</li>
                            <li class="disable">15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="pricingTable blue">
                        <div class="pricingTable-header">
                            <h3 class="title">Pro</h3>
                        </div>
                        <div class="price-value">
                            <span class="amount">$5000.00 / ৳400000</span>
                            <span class="duration">per month</span>
                        </div>
                        <ul class="pricing-content">
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Bandwidth</li>
                            <li>Maintenance</li>
                            <li>15 Subdomains</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Demo</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
{% block script %}
<script>
    var swiper = new Swiper(".pricingContainer", {
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            500: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 2,
            },
            1080: {
                slidesPerView: 3,
            }
        }
    });
</script>
{% endblock script %}
{% endblock main %}