{% extends 'dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container-fluid" id="container-wrapper">
  <div class="row">
    <div class="col-lg-9">
      {% if messages %}
      {% for msg in messages %}
      <div class="alert alert-{{msg.tags}}">
        {{msg}}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Form Basic -->
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 font-weight-bold text-primary">Add new user </h5>
        </div>
        <div class="card-body">
          {% for a in aaa %}
          <li>{{a.id}}</li>
          {% endfor %}
          <form method="POST" enctype="multipart/form-data">
            <div class="alert alert-primary">
              <h5>Basic info</h5>
            </div>
            {{form_a|crispy}}
            {% csrf_token %}
            <div class="alert alert-primary">
              <h5>Standerd info</h5>
            </div>
            {{form_b|crispy}}
            {% csrf_token %}
            <div class="alert alert-primary">
              <h5>Pro info</h5>
            </div>
            {{form_c|crispy}}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Publish</button>
          </form>
        </div>
      </div>
  </div>
  <!-- Modal Logout -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
