{% extends 'dashboard_base.html' %}
{% block body_block %}
{% load crispy_forms_tags %}

<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>Welcome {{user.username}}</h1></div>
    </div>
    <div class="row">
    	<div class="col-sm-9">


          <div class="tab-content">
           {%for message in messages %}
        {%if "feedback" in message.tags %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endif %}

    {% endfor %}
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="" enctype="multipart/form-data" method="POST" id="registrationForm">
                    {% csrf_token %}
                    {{ form|crispy }}


                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>

                            </div>
                      </div>

              	</form>

              <hr>

             </div><!--/tab-pane-->


              </div><!--/tab-pane-->
          </div>
        </div><!--/col-9-->
    </div><!--/row-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <a href="login.html" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
